/* Reset css */

    /* viết tắt Emet p = padding: ; m = margin: ;  */
/* 
1.vị trí
2.kích thước(width, height)
3.màu sắc
4.kiểu dáng(kiểu chữ, hình dạng,...)
*/
/* Common */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: "Lato", sans-serif;
}

.clear {
    clear: both;
}

.text-white {
    color: #fff !important;
}

.text-center {
    text-align: center !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third {
    width: calc(100%/3);
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.btn {
    padding: 9px 17px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin-top: 16px;
    border: none;
}

.btn:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.pull-right {
    float: right !important;
}

/* Main */
/* giải quyết vấn đề khi dùng float
 thẻ cha không ôm được thẻ con
 có thể dùng overflow:hidden vào thẻ cha */

#wrapper {

}

#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;
}
#nav > li {
    display: inline-block;
}
#nav li{
    
    position: relative;
}

#nav > li > a {
    color: white;
    text-transform: uppercase;
}

#nav li a {
    line-height: 46px;
    text-decoration: none;
    padding: 0 24px;
    display: block;
    
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav li:hover a,
#nav > li:hover > a {
    color:#000;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    min-width: 160px;
    background-color: white;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.3) ;
    position: absolute;
    top: 100%;
    left: 0;
    
} 
 
#nav .subnav a {
    color: #000;
    padding:0 16px;
    line-height: 38px;
    
}

#nav .nav-arrow-down {
    font-size: 12px;
}

#header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-menu-btn,
#header .search-btn {
    float: right;
    padding: 0 21px;
}

#header .search-btn:hover{
    cursor: pointer;
    background-color: #f44336;
}

#header .mobile-menu-btn:hover {
    background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon {
    color: #000;
}

#header .menu-icon,
#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

#slider {
    margin-top: 46px;
    padding-top: 50%;
    background: url('../img/chicago.jpg') top center / cover no-repeat;
    position: relative;
}

.text-content{
    position: absolute;
    color: #fff;
    bottom: 47px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description {
    margin-top: 25px;
    font-size: 15px;
}

#content {

}

#content .content-section {
    width: 800px;
    /* fix tablet */
    max-width: 100%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0px 112px;
    font-family: "Segoe UI",Arial,sans-serif;
    /* fix tablet */
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px; 
    /* khoảng cách giữa các chữ cái */
    text-align: center;
}
#content .section-sub-heading {
    font-size: 15px;
    font-style: italic;
    /* chữ nghiêng */
    text-align: center;
    margin-top: 25px;
    opacity: 0.6;
    /* độ mờ để làm mờ đi */
}

#content .about-content {
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
    /* độ cao 1 dòng */
}

#content .member-list {
    margin-top: 48px;
}

#content .member-name {
    font-size: 15px;
    font-family: "Lato", sans-serif;
}

#content .member-avt {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}

/* Tour section */
#content .tour-section {
    background-color: #000;
}

.ticket-list {
    background-color: #fff;
    margin-top: 40px;
    color: #757575;
    list-style: none;
}

.ticket-list li {
    font-size: 15px;
    padding: 10px 16px;
    border-bottom: 1px solid #ddd;
}

.ticket-list .sold-out {
    background-color: #F44336;
    padding: 0px 8px;
    margin-left: 16px;
    color: #fff;
}

.ticket-list .quantyti {
    background-color: #000;
    border-radius: 50%;
    float: right;
    margin-right: 16px;
    margin-top: -2px;
    width: 24px;
    height: 24px;
    color: #fff;
    text-align: center;
    line-height: center;
}

/* Place */
.place-list {
    /* margin-top: 36px;
    margin-left: -8px;
    margin-right: -8px; */
    margin-top: 32px;
}


.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body {
    padding: 16px;
    background-color: #fff;
    font-size: 15px;
    font-family: "Lato", sans-serif;
}

.place-heading {
    font-weight: 550;
}

.place-time {
    opacity: 0.6;
    margin-top: 16px;    
}

.place-des {
    margin-top: 16px;
    line-height: 1.4;
    text-align: justify;
}

.contact-content {
    margin-top: 48px;
    padding-bottom: 32px;
}

.contact-infor {
    font-size: 18px;
    font-family: "Lato", sans-serif;
    line-height: 1.5;
}

.contact-infor i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 11px;
    border: 1px solid #ccc;
    width: 100%;
}

.map img {
    width: 100%;
}

#footer {
    line-height: 1.5;
    padding: 64px 16px 64px 16px;
    text-align: center;
}

#footer .icon-footer {
    font-size: 24px;
}

#footer .icon-footer a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;  
}
.link-footer a:hover,
#footer .icon-footer a:hover {
    color: rgba(0, 0, 0, 0.4); 
}

.link-footer {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 15px;
}

.link-footer a {
    color: rgba(0, 0, 0, 0.7);
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.modal-container {
    background-color: #fff;
    width: 900px;
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.5s;
}
.modal-header {
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}
.icon-heading {
    margin-right: 16px;
}

.modal-close {
    position: absolute;
    right: 0;
    width: 46px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;  
    color: #fff;  
}

.modal-close:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
    font-family: "Lato", sans-serif;
    margin-bottom: 12px;
}

.modal-input {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    font-size: 15px;
    margin-bottom: 24px;
}

#buy-tickets {
    text-transform: uppercase;
    padding: 16px;
    font-size: 15px;
    width: 100%;
    border: none;
    background-color: #009688;
    color: #fff;
}

#buy-tickets:hover {
    cursor: pointer;
    background-color: #ccc;
    color: #000;
}

.modal-footer {
    float: right;
    padding: 16px;
    margin-bottom: 16px;
}

.modal-footer .modal-help {
    font-size: 15px;
    line-height: 1.4;
}

.modal-footer a {
    color: #009688;
}

.modal.open {
    display: flex;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive */
/* 
PC: >=1024

Tablet: >=740px < 1024px

Mobile: <740px
*/

/*BREAK POINT  */
/*  ví dụ responsive
@media (min-width: 1024px){
    .pc {
        display: block;
    }
}
@media (min-width: 740px) and (max-width: 1023px){
    .tablet {
        display: block;
    }
}
@media (max-width: 739px){
    .mobile {
        display: block;
    }
}
/*  